body {
	margin: 0;
	padding: 0;
	background-image: url(../Images/bg2.jpg);
	background-position: fixed;
	background-size: cover;
}

.header h1 {
	text-align: center;
	background-color: white;
	font-family: 'ubuntu';
	font-size: 7vh;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	
}


nav {
	
	

}

nav h1 {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;	
	margin-top: 20vh;
}

nav ul {
	text-align: center;
	display: block;
	
	margin: auto;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 5vh;
	

}

nav li a {
	text-decoration: none;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	width: 35vh;
	font-size: 10vh;
	z-index: 1


}

nav #gibson {

	width: 35vh;
	width:35vh;
	padding: 5vh;
}


nav #fender {
	width: 40vh;
}


.slide {
	background-color: red;
	border: solid 5px white;
	visibility: hidden;
}

.slide:hover {
	visibility: visible;
	transition: all 0.7s;

}