body {
	margin: 0;
	padding: 0;
	background-image: url(../images/bg.jpg);
	background-position: fixed;
	background-size: cover;
}

.header {
	width: 100%;
	height: 7vh;
	background-color: white;
	position: fixed;
	top: 0;
}

nav {
	margin: auto;
	width: 70%;

}

 h1 {
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;	
	margin-top: 20vh;
}

nav ul {
	margin: auto;
	text-align: center;
}

nav li {
	display: inline-block;
	z-index: 1

}

nav #gibson {
	width:35vh;
	padding: 5vh;
}

nav #fender {
	width: 40vh;
	top: -5vh;
}

.slide {
	background-color: red;
	border: solid 5px white;
	opacity: 0;
}

.slide:hover {
	opacity: 1;
	transition: all 0.7s;
}