body {
	margin: 0;
	padding: 0;
	/*background-color: #ff2e1d;*/
	background-image: url(../Images/bg.jpg);
	background-position: fixed;
	background-size: cover;
	font-family: 'ubuntu';
}

.header {
	margin: none;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	border-bottom: solid 3px lightgrey;
	
}

.header img {
	text-align: center;
	margin: 10px auto auto 15px;
	display: inline-block;
	max-height: 35px;


}



.header h2 {
	float: right;
	margin: 10px 50px 10px 25px ;
	color: black;
}

.start::after {
    content:"";
    display:block;
    clear:both;
}

.start {
	background-color: white;
	margin: 100px 12% 0 12%;
	text-align: center;
	padding-bottom: 30px;
	
}

.start img {
	margin-top: 20px;
	max-width: 300px;
	width: 60%;
}

.start h1 {
	margin-top: 20px;
}

.start p {
	padding: 20px;
}

.start ul {
	margin: auto;
	padding: 0;	
}




.start li {

	height: 100%;
	display: inline-block;
	width: 30%;
	
}

.start li#start:hover .Hello {
	background-color: #1c5faa ;
	transition: 0.5s;
}

.start li a{
	text-decoration: none;
	color: black;
}

.start img#strat {
	float: left;
	margin-left: 50px;
}

.artist #small{
	font-size: 50%;
}

.artist li img{
	max-height: 200px;
	max-width: 100px;
}

div#full-size {
	margin: auto;
	height: 300px;
	width: 886px;
	background-size: cover;
	
}

div #gallery img {
	max-width: 100px;
	margin: auto;

}

figure {
	display: inline-block;
	margin: 0;
}

div.ett {
	background-image: url('../Images/startgitarr.png');
}

div.yngwie {
	background-image: url('../Images/yngwiegitarr.png');
}

div.jimi {
	background-image: url('../Images/jimigitarr.png');
}


div.jimroot {
	background-image: url('../Images/jimrootgitarr.png');
}



@media screen and (max-width: 850px ) {
	.start {
		margin: 50px 0 0 0;
		width: 100%;
	
	
}
}

@media screen and (max-width: 450px ) {
	.start li {
		width: 100%;
	}
	
}

